 @import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap'); 
/* *{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
  background-position: center;
  background-size: cover;
  height: 100vh; */
/* } */
nav{
  font-family: 'Montserrat', sans-serif;
  position: fixed;
  width: 260px;
  margin-left: 0%;
  margin-top: -25%;
  transition: all 0.3s linear;
  right: 0%;
  background: black;   
  /* padding-bottom: 100px;  */
  box-shadow: 2px 2px 8px 0px rgba(0,0,0,.4);
  transform: translate(75%, 0%); 
}

nav li{
  height: 60px;
  position:relative;
  
}
nav li a{
  color: white;
  display: block;
  height: 100%;
  width: 100%;
  line-height: 60px;
  /* padding-left:30%; */
  border-bottom: 1px solid rgba(0,0,0,.4);
  /* transform: translate(130px, 0px); */
  transition: all .3s linear;
  
}
/* a{
    transform: translate(130px, 0px);
} */
nav li:hover:nth-child(1) a{
    transform: translate(-130px,0px);
    transition: all .3s linear;
    background: #4267B2;
}
nav li:hover:nth-child(2) a{
    transform: translate(-130px,0px);
    transition: all .3s linear;
    background: #2867B2;
}
nav li:hover:nth-child(3) a{
    transform: translate(-130px,0px);
    transition: all .3s linear;
    background: #333;
}
nav li:hover:nth-child(4) a{
    transform: translate(-130px,0px);
    transition: all .3s linear;
    background: orangered;
}
nav li:hover:nth-child(5) a{
    transform: translate(-130px,0px);
    transition: all .3s linear;
    background:#ff0000;
}
nav li a i{
  position:absolute;
  top: 17px;
  left: 20px;
  font-size: 15px;
}
ul li a span{
  /* font-family: 'Montserrat', sans-serif; */
  display: block;
  font-weight: bold;
  letter-spacing: 1px;
  right: 0%;
  margin-left: 70px;
  text-transform: uppercase;
  
}

@media only screen and (min-width: 768px){
    nav{
        margin-top: -10%;
        width: 600px;
        /* padding-bottom: 100px;  */
        font-family: 'Montserrat', sans-serif;
        transform: translate(90%, 0%); 
    }
    nav li:hover:nth-child(1) a{
        transform: translate(-500px,0px);
        transition: all .3s linear;
        background: #4267B2;
    }
    nav li:hover:nth-child(2) a{
        transform: translate(-550px,0px);
        transition: all .3s linear;
        background: #2867B2;
    }
    nav li:hover:nth-child(3) a{
        transform: translate(-450px,0px);
        transition: all .3s linear;
        background: #333;
    }
    nav li:hover:nth-child(4) a{
        transform: translate(-350px,0px);
        transition: all .3s linear;
        background: orangered;
    }
    nav li:hover:nth-child(5) a{
        transform: translate(-500px,0px);
        transition: all .3s linear;
        background:#ff0000;
    }
    nav li a i{
        font-size: 27px;
    }
    ul li a span{
        font-size: 80px;
        font-family: 'Montserrat', sans-serif;
    }
}

@media only screen and (min-width:1200px){
    nav{
        margin-top: -10%;
        width: 700px;
        font-family: 'Montserrat', sans-serif;
        transform: translate(90%, 0%); 
    }
    nav li:hover:nth-child(1) a{
        transform: translate(-650px,0px);
        transition: all .3s linear;
        background: #4267B2;
    }
    nav li:hover:nth-child(2) a{
        transform: translate(-550px,0px);
        transition: all .3s linear;
        background: #2867B2;
    }
    nav li:hover:nth-child(3) a{
        transform: translate(-450px,0px);
        transition: all .3s linear;
        background: #333;
    }
    nav li:hover:nth-child(4) a{
        transform: translate(-350px,0px);
        transition: all .3s linear;
        background: orangered;
    }
    nav li:hover:nth-child(5) a{
        transform: translate(-500px,0px);
        transition: all .3s linear;
        background:#ff0000;
    }
    nav li a i{
        font-size: 27px;
    }
    ul li a span{
        font-size: 100px;
        font-family: 'Montserrat', sans-serif;
    }
}

